{% extends 'index.html'%}
{%block body%}
<style>
    @keyframes wipe-in-left {
        from {
        clip-path: inset(0 0 0 100%);
        }
        to {
        clip-path: inset(0 0 0 0);
        }
    }
    
    [transition-style="in:wipe:left"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
    }
</style>
<h1 transition-style="in:wipe:left">Home</h1>
<style>
    .image-container{
        position: relative;
        width: 100%;
        max-width: 600px;
    }
    .image {
        width: 100%;
        height: auto;
    }
</style>
<div class="image-container">
    <img src="image.portfolio.jpg" alt="" class="image">
</div>
{%endblock%}